<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 Candy Pop</title>
    <link rel="stylesheet" href="../CSS/mystyles.css">
    <link rel="shortcut icon" href="../image/favicon.ico">
  </head>
  <body>
      <h1 style="background:aqua;" >Candy Pop</h1>
        <p>
            <a href="http://tower.jp/item/4665538/Candy-Pop%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank"><img src="../image/Candy Pop CD.JPG" width="400" height="350" alt="Candy Pop"></a>
        </p>
        <h3>概要</h3>
          <p>
            日本でのオリジナル曲のセカンドシングル
            <br>タイトル曲はCandy Pop
          </p>
        <h3>曲</h3>
          <p>
            Candy Pop　M/Vは
            <span>
              <a href="https://www.youtube.com/watch?v=wQ_POfToaVY" target="_blank">
                こちら
              </a> 
            </span>
            <br>
            BRAND NEW GIRL M/Vは
            <span>
              <a href="https://www.youtube.com/watch?v=r1CMjQ0QJ1E" target="_blank">
                こちら
              </a>
            </span>
          </p>
        <h5><a href="http://tower.jp/item/4665538/Candy-Pop%EF%BC%9C%E9%80%9A%E5%B8%B8%E7%9B%A4%EF%BC%9E" target="_blank">購入はこちら</a></h5>
  </body>
</html>