<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width">
        <title>TWICE掲示板</title>
        <link rel="stylesheet" href="../CSS/mystyles.css">
        <link rel="shortcut icon" href="../image/TWICE.ico">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script type="text/javascript" src="TWICE.js"></script>
    </head>
    <body>
        <header>
            <center>
                <h1 style="color:red; background:white;">
                    <strong>
                      TWICE
                    </strong>
                    <br>
                    <span style="color:black; ">
                        プロフィール
                    </span>
                </h1>
                <p>
                    <img src="../image/heart shaker.jpg" width="750" height="487.5" alt="TWICE">
                </p>
                <hr>
                <h1 style="color:green; background:white;">
                    〜おすすめ動画〜
                </h1>
                <h2 style="color:red;">
                    TWICE 新曲
                    <br>
                    <span style="color:blue;">
                        <font size="6">
                            Candy Pop
                        </font>
                    </span>
                </h2>
                <div class="video-wrap">
                    <video  muted controls poster="../image/Candy Pop.jpg" width="750" height="500" id="video">
                        <source src="../movie/Candy Pop.mp4" type="video/mp4" />
                        <img src="../image/Candy Pop.jpg" />
                    </video>
                    <div class="video-btn" id="video-btn"></div>
                </div>
                <hr>
                <h1 style="background:white; color:blue; ">
                    メンバー
                </h1>
            </center>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous disabled">
                        <a href="index.html">
                            前のページへ
                        </a>
                    </li>
                    <li class="next">
                        <a href="page2.html">
                            次のページへ
                        </a>
                    </li>
                </ul>
            </nav>
            <center>
              <ul>
                <div class="containter">
                    <div class="div-1">
                        <h2>ナヨン</h2>
                        <a href="NAYEON.html">詳しく見る</a>
                        <a href="NAYEON.html"><img src="../image/NAYEON.JPG" width="250" height="450" alt="NAYEON"><a href="JEONGYEON.html"></a>
                    </div>
                    <div class="div-1">
                        <h2>ジョンヨン</h2>
                        <a href="JEONGYEON.html"></span>詳しく見る</a>
                        <a href="JEONGYEON.html"><img src="../image/JEONGYEON.JPG"  width="250" height="450" alt="JEONGYEON"></a>
                    </div>
                    <div class="div-1">
                        <h2>モモ</h2>
                        <a href="MOMO.html">詳しく見る</a>
                        <a href="MOMO.html"><img src="../image/MOMO.JPG"  width="250" height="450" alt="MOMO"></a>
                    </div>
                    <div class="div-1">
                        <h2>サナ</h2>
                        <a href="SANA.html">詳しく見る</a>
                        <a href="SANA.html"><img src="../image/SANA.JPG"  width="250" height="450" alt="SANA"></a>
                    </div>
                    <div class="div-1">
                        <h2>ジヒョ</h2>
                        <a href="JIHYO.html">詳しく見る</a>
                        <a href="JIHYO.html"><img src="../image/JIHYO.JPG"  width="250" height="450" alt="JIHYO"></a>
                    </div>
                    <div class="div-1">
                        <h2>ミナ</h2>
                        <a href="MINA.html">詳しく見る</a>
                        <a href="MINA.html"><img src="../image/MINA.JPG"  width="250" height="450" alt="MINA"></a>
                    </div>
                    <div class="div-1">
                        <h2>ダヒョン</h2>
                        <a href="DAHYUN.html">詳しく見る</a>
                        <a href="DAHYUN.html"><img src="../image/DAHYUN.JPG"  width="250" height="450" alt="DAHYUN"></a>
                    </div>
                    <div class="div-1">
                        <h2>チェヨン</h2>
                        <a href="CHAEYOUNG.html">詳しく見る</a>
                        <a href="CHAEYOUNG.html"><img src="../image/CHAEYOUNG.JPG"  width="250" height="450" alt="CHAEYOUNG"></a>
                    </div>
                    <div class="div-1">
                        <h2>ツウィ</h2>
                        <a href="TZUYU.html">詳しく見る</a>
                        <a href="TZUYU.html"><img src="../image/TZUYU.JPG"  width="250" height="450" alt="TZUYU"></a>
                    </div>
                </div>
              </ul>
            </center>
        </header>
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous disabled"><a href="index.html">前のページへ</a></li>
            <li class="next"><a href="page2.html">次のページへ</a></li>
          </ul>
        </nav>
        <p id="pageTop"><a href="#"><i class="fas fa-arrow-up"></i></a></p>
    </body>
</html>

