<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>TWICE掲示板 サナ</title>
    <link rel="stylesheet" href="../CSS/mystyles.css">
    <link rel="shortcut icon" href="../image/favicon.ico">
  </head>
  <body>
      <h1 style="color:green; background:skyblue">サナ</h1>
       <p><img src="../image/SANA.JPG"  width="250" height="450" alt="SANA"></p>
       <ul style="color:skyblue; ">
        <p>本名：湊崎紗夏</p>
        <p>生年月日：1996年12月29日</p>
        <p>血液型：B型</p>
        <p>身長：166㎝</p>
        <p>出身地：日本 大阪府</p>
        <p>ポジション：サブボーカル、サブラッパー</p>
       </ul>
  </body>
</html>